In [123]:
import numpy as np
import pandas as pd
import ast

In [124]:
path = '/home/dkabe/Model_brainstorming/Output/Variable_vals/'

In [125]:
rl = [0.5, 0.75, 0.95]

In [126]:
## Cleaning Products

In [127]:
demand = np.loadtxt('/home/dkabe/Model_brainstorming/Input_Data/Instance_5/Demand_5.txt').reshape((128, 3, 29))
text_file = open('/home/dkabe/Model_brainstorming/Input_Data/Instance_5/scen_5.txt', "r")
ls = text_file.read().split('\n')[:-1]
Scen = list(map(lambda x: ast.literal_eval(x), ls))

In [128]:
sum(v_val_x_i)

15

In [129]:
np.sum(Scen[56][0][i]*v_val_x_i[i] for i in range(6))

/home/dkabe/env_gurobi/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  """Entry point for launching an IPython kernel.

1.0

In [130]:
scenario_indices = [0, 56, 127]

In [139]:
dfs = []
for r_level in rl:
    f = open(path + "Instance_5/variable_vals_" +str(r_level) + ".txt", "r")
    text = f.read()
    f.close()
    solutions_str = text.split('\n')
    for i in solutions_str:
        exec(i.lstrip().rstrip())

    demand_met = []
    demand_purchased = []
    degree_plants = []
    degree_dc = []
    degree_outsourced = []
    Y_mat = np.array(list(v_val_Y_ijm.values())).reshape((128, 3, 6, 4))
    Y_mat = np.sum(Y_mat, axis = 1)
    Z_mat = np.array(list(v_val_Z_jkm.values())).reshape((128, 3, 4, 29))
    Z_mat = np.sum(Z_mat, axis = 1)
    T1_mat = np.array(list(v_val_T_ljm.values())).reshape((128, 3, 3, 4))
    T1_mat = np.sum(T1_mat, axis = 1)
    T2_mat = np.array(list(v_val_T_lkm.values())).reshape((128, 3, 3, 29))
    T2_mat = np.sum(T2_mat, axis = 1)

    for index in scenario_indices:
        demand_met.append(1 - np.sum([v_val_U_km[index, k, m] for k in range(29) for m in range(3)])/np.sum(demand[index]))
        demand_purchased.append(np.sum([v_val_V1_lm[index, m, l] + v_val_V2_lm[index, m, l] for m in range(3) for l in range(3)])/np.sum(demand[index]))    
        degree_plants.append(np.sum(1*np.array([Y_mat[index][i][j] > 0 for i in range(6) for j in range(4)]))/sum(v_val_x_i.values()))    
        degree_dc.append(np.sum(1*np.array([Z_mat[index][j][k] > 0 for j in range(4) for k in range(29)]))/sum(v_val_x_j.values()))    
        degree_outsourced.append((np.sum(1*np.array([T1_mat[index][l][j] > 0 for l in range(3) for j in range(4)])) + np.sum(1*np.array([T2_mat[index][l][k] > 0 for l in range(3) for k in range(29)]))/3))
        
    my_df = pd.DataFrame(list(zip(demand_met, demand_purchased, degree_plants, degree_dc, degree_outsourced)), columns = ["Demand Met", "Demand Outsourced", "Degree MP", "Degree DC", "Degree Outsource"])
    dfs.append(my_df)
    print(my_df)
    print('\n')

   Demand Met  Demand Outsourced  Degree MP  Degree DC  Degree Outsource
0    1.000000           0.000000   2.333333      12.00          0.000000
1    0.669791           0.243057   1.000000       7.25         14.333333
2    0.500000           0.500000   0.000000       0.00         29.000000


   Demand Met  Demand Outsourced  Degree MP  Degree DC  Degree Outsource
0    1.000000           0.000000   2.333333      12.00          0.000000
1    0.834895           0.394837   1.000000       7.25         15.333333
2    0.750000           0.750000   0.000000       0.00         29.000000


   Demand Met  Demand Outsourced  Degree MP  Degree DC  Degree Outsource
0    1.000000           0.000000   2.333333      12.00          0.000000
1    0.966979           0.526582   1.000000       7.25         16.333333
2    0.939734           0.939734   0.000000       0.00         29.000000

In [145]:
dfs[2]

   Demand Met  Demand Outsourced  Degree MP  Degree DC  Degree Outsource
0    1.000000           0.000000   2.333333      12.00          0.000000
1    0.966979           0.526582   1.000000       7.25         16.333333
2    0.939734           0.939734   0.000000       0.00         29.000000

In [146]:
## Meat Products

In [147]:
demand = np.loadtxt('/home/dkabe/Model_brainstorming/Input_Data/Instance_6/Demand_6.txt').reshape((200, 3, 29))
text_file = open('/home/dkabe/Model_brainstorming/Input_Data/Instance_6/scen_6.txt', "r")
ls = text_file.read().split('\n')[:-1]
Scen = list(map(lambda x: ast.literal_eval(x), ls))

In [148]:
scenario_indices = [29, 12, 63]

In [151]:
dfs = []
for r_level in rl:
    df = []
    f = open(path + "Instance_6/variable_vals_" +str(r_level) + ".txt", "r")
    text = f.read()
    f.close()
    solutions_str = text.split('\n')
    for i in solutions_str:
        exec(i.lstrip().rstrip())

    demand_met = []
    demand_purchased = []
    degree_plants = []
    degree_dc = []
    degree_outsourced = []
    Y_mat = np.array(list(v_val_Y_ijm.values())).reshape((200, 3, 6, 4))
    Y_mat = np.sum(Y_mat, axis = 1)
    Z_mat = np.array(list(v_val_Z_jkm.values())).reshape((200, 3, 4, 29))
    Z_mat = np.sum(Z_mat, axis = 1)
    T1_mat = np.array(list(v_val_T_ljm.values())).reshape((200, 3, 3, 4))
    T1_mat = np.sum(T1_mat, axis = 1)
    T2_mat = np.array(list(v_val_T_lkm.values())).reshape((200, 3, 3, 29))
    T2_mat = np.sum(T2_mat, axis = 1)

    for index in scenario_indices:
        demand_met.append(1 - np.sum([v_val_U_km[index, k, m] for k in range(29) for m in range(3)])/np.sum(demand[index]))
        demand_purchased.append(np.sum([v_val_V1_lm[index, m, l] + v_val_V2_lm[index, m, l] for m in range(3) for l in range(3)])/np.sum(demand[index]))    
        degree_plants.append(np.sum(1*np.array([Y_mat[index][i][j] > 0 for i in range(6) for j in range(4)]))/sum(v_val_x_i.values()))     
        degree_dc.append(np.sum(1*np.array([Z_mat[index][j][k] > 0 for j in range(4) for k in range(29)]))/sum(v_val_x_j.values()))     
        degree_outsourced.append((np.sum(1*np.array([T1_mat[index][l][j] > 0 for l in range(3) for j in range(4)])) + np.sum(1*np.array([T2_mat[index][l][k] > 0 for l in range(3) for k in range(29)]))/3))
        
    my_df = pd.DataFrame(list(zip(demand_met, demand_purchased, degree_plants, degree_dc, degree_outsourced)), columns = ["Demand Met", "Demand Outsourced", "Degree MP", "Degree DC", "Degree Outsource"])
    dfs.append(my_df)
    print(my_df)
    print('\n')

   Demand Met  Demand Outsourced  Degree MP  Degree DC  Degree Outsource
0    1.000000           0.000000        2.0  19.666667          0.000000
1    0.836170           0.000825        1.0  12.666667          0.333333
2    0.337305           0.337305        0.0   0.000000         20.333333


   Demand Met  Demand Outsourced  Degree MP  Degree DC  Degree Outsource
0    1.000000           0.000000        2.0  19.000000          0.000000
1    0.893303           0.059319        1.0  10.333333          2.666667
2    0.337305           0.337305        0.0   0.000000         13.333333


   Demand Met  Demand Outsourced  Degree MP  Degree DC  Degree Outsource
0    1.000000           0.000000        2.0  18.666667          0.000000
1    0.966734           0.133110        1.0  12.000000          4.666667
2    0.337305           0.337305        0.0   0.000000         10.333333

In [41]:
running_Facilities = list(map(lambda x: sum(x[0]) + sum(x[1]), Scen))

In [43]:
list(set(running_Facilities))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [154]:
dfs[2]

   Demand Met  Demand Outsourced  Degree MP  Degree DC  Degree Outsource
0    1.000000           0.000000        2.0  18.666667          0.000000
1    0.966734           0.133110        1.0  12.000000          4.666667
2    0.337305           0.337305        0.0   0.000000         10.333333